.ez-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__login {
    &__title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 400;
    }

    &__title-highlight {
      color: var(--primary-color);
      font-weight: 900;
    }

    &__subtitle {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &__form {
      display: flex;
      flex-direction: column;

      div {
        margin-bottom: 1rem;

        label {
          display: block;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }

        input {
          width: 100%;
          padding: 0.8rem;
          border: 0.2rem solid var(--button-border-color);
          font-size: 1.4rem;

          &:focus {
            border-color: var(--primary-color);
            outline: none;
          }
        }

        input.ng-invalid.ng-touched {
          border-color: var(--error-input-border-color);
        }
      }

      button {
        padding: 0.8rem;
        background-color: var(--primary-color);
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
          background-color: var(--button-primary-hover-color);
        }

        .bi-arrow-right {
          font-size: 1.5rem;
          display: inline-block;
          transition: transform 0.4s ease;
          transform: translateX(0); //rotate(0deg);
        }

        &:hover .bi-arrow-right {
          transform: translateX(20px); //rotate(45deg);
        }
      }

      &__forgot-password {
        margin-top: 1rem;
        font-size: 1rem;
      }

      &__signup {
        margin-top: 0.3rem;
        font-size: 1rem;

        a {
          color: var(--primary-color);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }

    &__theme-toggle-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
    }
  }
}
